<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: my-header">
</head>
<body>

<div th:fragment="my-navbar">

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="/posts/">Can of Cano</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/posts/create">Create a New Post</a></li>
            <li><a href="/register">Register</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </div>
</nav>

</div>
</body>
</html>